@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

main {
  text-align: center;
}

nav, section, footer {
  display: block;
}

.search{
  position: relative;
  width: 40px;
  height: 40px;
  background: #fff;
  opacity: 0.6;
  text-align: center;

  border-radius: 60px;
  transition: 0.5s;
  overflow: hidden;
}

.search .icon{
  position: absolute;
  top: -8px;
  left: -9px;
  width: 60px;
  height: 60px;
  background: #fff;
  
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;

}
.search .icon::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid black;
  border-radius: 50%;
  transform: translate(-4px,-4px);
}

.search .icon::after{
  content: '';
  position: absolute;
  width: 3px;
  height: 12px;
  background : black;
  transform: translate(6px,6px) rotate(315deg);
}

.search.active{
  width: 360px;
}

.search .input{
  position: relative;
  width: 300px;
  height: 60px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .input input{
  position: relative;
  top: -10px;
  width: 100%;
  height: 100%;
      border: none;
      outline:  none;
      font-size: 18px;
  padding: 10px 0;

}
.clear{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear::before{
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: black;
  transform: rotate(45deg);
}

.clear::after{
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: black;
  transform: rotate(315deg);
}

@media (max-width: 768px) {
  .ul-bg {
    background: rgba(0, 0, 0, 0.6);
  }
  .navbar {
    background: rgba(0, 0, 0, 0.6);
  }

  .btn-lg {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

.navbar {
  padding: 0;
  /* position: relative;
    display: flex; */
}

.navbar-toggler:focus {
  box-shadow: none;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
  padding: 0.6rem 1.3rem;
}
  
.btn-sm {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
  background-color: rgba(85, 113, 83, 0.4);
  border-color: gold;
}

.bg-nav {
  background-color: #557153;
}


.bayon-logo {
  text-align: center;
}

.bayon-logo img{
  max-width: 100px;
  max-height: 100px;
}

main {
  text-align: center;
}

.bayon-text {
  color: #fec737;
  font-family: Offside;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
}

.caption {
  position: absolute;
  top: 38%;
  width: 100%;
  color: white;
}

.text-caption {
  text-shadow: 0.1rem, 0.1rem, 0.8rem, black;
  text-decoration: none;
}

.caption {
  background-image: url("sihanoukville.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  align-items: center;
  color: #fff;
  display: block; 
  display: flex;
  min-height: 37.5rem;
  padding-bottom: 3.75rem;
  padding-top: 3.75rem;
  position: relative;
  overflow: hidden;
}

.container h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-shadow: 0.1rem, 0.1rem, 0.8rem, black;
  padding-bottom: 1rem;
}

.container h3 {
  font-size: 2rem;
  text-shadow: 0.1rem, 0.1rem, 0.5rem, black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
  padding: 0.6rem 1.3rem;
}

.intro-content {
  background-color: #fff;
  margin-top: -9.375rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem 0;
  position: relative;
  z-index: 10;
  border: 3px solid #fff;
  width: 100%;
}

.content {
  margin: 50px auto;
  max-width: 90%;
}

.ind {
  text-indent: 2rem;
}

.place-togo ul {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.place-togo li {
  list-style: none;
  margin: 20px auto;
  max-width: 90%;
  box-shadow: 2px 4px 8px rgb(122, 122, 122);
}

.place-togo h3 {
  color: cadetblue;
  margin: 0;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.place-togo article {
  margin: auto;
  padding: 20px auto;
  max-width: 90%;
}

.place-togo article p {
  margin: 0;
  padding: 20px;
}

.place-togo li img {
  max-width: 80%;
}

h2 {
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
  margin: 3rem 2rem;
  color:#fec737;
}


.footer-bayon {
    background-color: #F5F5F5;
  }
.logo {
  width: 50px;
}
  
